---
---
$background-light: #9575CD;
@import "{{ site.theme }}";

.content-head {
    color: $background-light; 
    font-size: large;
    font-weight: bolder;
    font-style: italic;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 300px;

}